@charset "UTF-8";


body {
	font-family: 'AvantGardeGothicCTT';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
	color: #000000;
	min-width: 320px;
	padding: 0 !important;
	overflow-x: hidden;
	background: #fff;
}

* {
	outline: none !important;
}

.container {
	max-width: 1378px;
	width: 100%;
	padding: 0 15px;
}

.row {
	margin: 0 -15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1 .col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
	padding: 0 15px;
}

a {
	color: #000;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	text-decoration: none;
}

p {
	margin: 10px 0;
}

img {
	width: initial;
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
}

.topblock {
	background-image: url(/images/bg1.png);
	background-size: initial;
  background-position: center top;
}

.headermain {
	padding: 20px 0; 
}


.color {
	color: #db8d26;
}

.logo a {
	display: block;
}

.header {}
.clearfix {}
.headermain {}
.container {}
.headermain__items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 -10px;
}
.headermain__item {
	padding: 0 10px;
}
.headermain__logo {
	max-width: 185px;
}
.headermain__title {
  font-size: 16px;
  line-height: 1.2;
  color: rgb(79, 79, 78);
}
.headertitle {}
.headermain__search {}
.search input {
	height: 36px;
	line-height: 36px;
	background: #fff;
	border: 1px solid #cccccc;
	width: 100%;
	max-width: 395px;
	display: block;
	padding: 0 15px;
	border-radius: 5px;
}
.search {
	position: relative;
}
.search button {
	position: absolute;
	right: 5px;
	top: 7px;
	background: none;
	border: none;
}
.search button svg {
	width: 19px;
}
.search button svg path {
	fill: #545453;
}
.headericon__icon {
	border-radius: 50%;
	border: 1px solid #000;
	width: 40px;
	height: 40px;
	text-align: center;
display: inline-block;
    padding: 7px 0;
    vertical-align: middle;
}
.headericon__icon svg {
	width: 23px;
}


.headermain__icon {}
.headericon a {
	display: block;
	white-space: nowrap;
}
.headericon__text {
  font-size: 12px;
  color: rgb(79, 79, 78);
  text-transform: uppercase;
  line-height: 1.2;
 	display: inline-block;
    vertical-align: middle;
   padding-left: 10px;
}
.headermain__contact {}
.headercontact {}
.headercontact__text {
  font-size: 11px;
  color: rgb(79, 79, 78);
 padding-bottom: 3px;
}
.headercontact__text svg {
	width: 14px;
	height: 14px;
	vertical-align: middle;
}
.headercontact__text span {

	vertical-align: middle;
}


.headercontact__link a {
  font-size: 22px;
  color: rgb(79, 79, 78);
  text-transform: uppercase;
  font-weight: bold;

}
.headermain__cart svg {
	width: 37px;
}
.headercart a {
	display: block;
}
.headercart {
	position: relative;
	padding-right: 15px;
}
.headercart__icon {}
.headercart__count {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #fff;
	line-height: 20px;
  font-size: 11px;
 	background: #db8d26;
  text-align: center;
 	right: 0;
 	top:-5px;
}

.headermain__item_search {
	width: 100%;
	max-width: 395px;
}

.mainblock {
	padding: 150px 0;
}

.mainblock__content {
	max-width: 650px;
}
.mainblock__title {
  font-size: 60px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
 font-weight: bold;
 margin-bottom: 30px;

}

.mainblock__subtitle {
  font-size: 30px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
   font-weight: bold;
   margin-bottom: 35px;

}
.mainblock__link {}
.btn_main {
	padding: 15px 40px;
	display: inline-block;
	background: #db8d26;
	border-radius: 5px;
  font-size: 16px;
  color: #fff;
  line-height: 1;
  text-align: center;
   font-weight: bold;

}
.mainmenu__items {
	width: 100%;
}
.mainmenu__items > ul > li > a {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  height: 100%;
  background: #db8d26;
  display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
}

.mainmenu__items > ul > li:first-child a {
}
.mainmenu__items > ul > li:last-child a {
}

.mainmenu__items > ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 52px;
	width: 100%;
}

.mainmenu__items > ul > li {
	height: 100%;
	    width: 100%;
	    position: relative;
}

.mainmenu__items > ul > li > a:hover {
	opacity: 1;
	background-color: #eea648;
}

li.parent.catalogmenu > a {
	padding-left: 45px;
	padding-right: 35px;
	background-image: url(/images/burger.png);
	background-repeat: no-repeat;
	background-position: left 16px center;
}


.submenu {
	position: absolute;
	top: 52px;
	left: 0;
	min-width: 100%;
	display: none;
box-shadow: 0 0 11px -2px #777;
background-color: #fff;
z-index: 1;
}


.mainmenu__items > ul > li.parent:hover > .submenu {
	display: block;
}
.submenu > li {
	position: relative;
}
.submenu > li > a {
	display: block;
	background-color: #fff;
	padding: 12px 16px; 
	line-height: 1.2;

  font-size: 14px;
  color: rgb(79, 79, 78);
  
}
.submenu > li.parent > a {
		background-image: url(/images/right.png);
	background-position: right 16px center;
	background-repeat: no-repeat;
	padding-right: 20px;
}
.submenu > li > a:hover {
	background-color: #f2f2f2;
	  color: rgb(79, 79, 78);

}


.submenu_level2 {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #fff;
	min-width: 240px;
	padding-bottom: 40px;
box-shadow: 0 0 11px -2px #777;
z-index: 2;

}

.submenu > li:hover > .submenu_level2 {
	display: block;
}

.submenu_level2 > li > a {
		display: block;
	background-color: #fff;
	padding: 12px 16px; 
	line-height: 1.2;
  font-size: 14px;
  color: rgb(79, 79, 78);
}

.submenu_level2 > li > a:hover {
		background-color: #f2f2f2;
	  color: rgb(79, 79, 78);
}

.searchcard a {
	display: block;
	padding: 10px 20px 5px 10px;
}

.searchcard__image {
	display: inline-block;
	width: 74px;
		vertical-align: middle;

}

.searchcard__content {
	display: inline-block;
	width: calc(100% - 80px);
	padding-left: 10px;
	vertical-align: middle;
}

.searchcard__name {
  font-size: 12px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: left;
 	margin-bottom: 2px;
}

.searchcard__price {
  font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: left;
  font-weight: bold;
}

.searchresult {
	position: absolute;
	top: 36px;
	box-shadow: 0 0 11px -2px #777;
	width: 100%;
	background-color: #fff;
	z-index: 5;
	padding-bottom: 10px;
}

.socials a svg {
	width: 22px;
	height: 22px;
}

.socials a {
	display: inline-block;
	margin-right: 10px;
}

.socials a svg path {
	fill: #4f4f4e;
}

.headercontact__hidden {
	
	z-index: 4;
	background: #fff;
	display: none;
	padding: 10px;
}
.headercontact__visible {
padding: 10px;
}

.headermain__contact {
	position: relative;
		width: 186px;
		height: 59px;
}

.headercontact {
		position: absolute;
	left: 0;
	top: 0;
	z-index: 5;
	width: 100%;
}
.headercontact:hover {
	box-shadow: 0 0 11px -2px #777;

}
.headercontact:hover .headercontact__hidden {
	display: block;

}

.headercontact:hover .headercontact__visible {
	background-color: #fff;
}

.btn_main:hover {
	color: #fff;
	background-color: #eea648;
}

.btn_main.btn_medium {
	padding: 15px 10px;
}

.headercontact__callback {
	margin-bottom: 15px;

  
}

.headercontact__contact {
	margin-bottom: 10px;
	 font-size: 12px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
}

.headercontact__contact a{
	 font-size: 12px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
}

.headercontact__callback .btn_main {
	width: 100%;
}

.quantity {
	display: inline-block;
}

input.quantity-field {
	max-width: 30px;
	border: none;
	    padding: 0;
	background: none;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
height: 31px;
    line-height: 31px;
	
	/* identical to box height, or 55px */
	text-align: center;
	font-size: 16px;
	color: #252626;
}

input.quantity-field::-webkit-outer-spin-button,
input.quantity-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cartremove svg {
	    width: 12px;
    height: 12px;
}


.quantity input[type="button"] {
	background: none;
	border: none;
	font-size: 29px;
	line-height: 1;
	vertical-align: middle;
	padding: 0 7px;
	color: #141414;
	height: 24px;
	height: 40px;
	line-height: 40px;
	font-size: 22px;
	padding: 0 4px;
}

.quantity input[type="button"].quantity-plus {
    position: relative;
    top: 0;
	padding: 0 0 0 0;
  color: rgb(79, 79, 78);
	 width: 25px;
  height: 25px;
      line-height: 0;
            border: 1px solid #cccccc;


}

.quantity input[type="button"].quantity-minus {
    position: relative;
    top: 0;
  color: rgb(79, 79, 78);
	 width: 25px;
  height: 25px;
      line-height: 0;
      padding-bottom: 3px;
      border: 1px solid #cccccc;
}
.quantity input[type="button"].quantity-minus:after {
  content: "-";
  font-weight: bold;

}

.productslider {}
.productslider__container {
	position: relative;
	padding: 0 55px;
}
.productslider__slider {
	margin: 0 -35px;
}
.productslider__slide {
	padding: 0 35px;
}
.productcard {}
.productcard__content {}
.productcard__main {}
.productcard__image {}
.productcard__name a {
  font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
 	margin-bottom: 8px;
 	display: block;

}
.productcard__params {
	margin-bottom: 10px;
}
.productcard__param {
  font-size: 12px;
  color: #999;
  line-height: 1.2;
 
}
.productcard__price {
	margin-bottom: 15px;
}
.productcard__newprice {
  font-size: 20px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  display: inline-block;
 	font-weight: bold;
}
.productcard__oldprice {
  font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
    display: inline-block;
    position: relative;
    margin-left: 15px;
 
}
.productcard__oldprice:after {
	content: url(/images/line.png);
	position: absolute;
	left: 0;
	right: 0;
	top: -3px;
}
.productcard__buttons {}
.productcard__add {}
.productcard__count {}
.quantity {}
.quantity-minus {}
.quantity-field {}
.quantity-plus {}
.productcard__cart {}
.btn_main2 {
	background-color: #db8d26;
  font-size: 15px;
 	padding: 10px 16px;

}


.productcard__add {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.productcard {
	max-width: 287px;
	position: relative;
	width: 100%;
	margin-bottom: 30px;
		height: 340px;
		padding-top: 30px;

}

.productcard__content {
	position: absolute;
	padding: 19px;
	background-color: #fff;
}

.productcard__buttons {
	display: none;
}

.productcard__content:hover {
		box-shadow: 0 0 11px -2px #777;
	
}

.productcard__content:hover .productcard__buttons {
	display: block;
}

h2 {
  font-size: 30px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}

h2:after {
 		content: "";
 	background-color: #db8d26;
  width: 105px;
  height: 3px;
  	position: absolute;
  	bottom: 0;
  		left: 0;
  		right: 0;
  		margin: auto;
}

.productslider {
	padding: 20px 0;
}

.productslider__arrow_left {
	cursor: pointer;
	position: absolute;
	left: 0;
	top: calc(50% - 76px);
	z-index: 1;
}
.productslider__arrow_right {
	cursor: pointer;
	position: absolute;
	right: 0;
	top: calc(50% - 76px);
	z-index: 1;
}


.fitchesblock {
	background-color: #ededed;
	padding: 39px 0;
}
.fitchesblock__content {}
.fitches {}
.fitches__items {
	display: flex;
	padding: 0 32px;
	margin: 0 -10px;
	align-items: center;
	justify-content: space-between;
}
.fitches__item {
	padding: 0 10px;
}
.fitches__image {
	 	display: inline-block;
	 	vertical-align: middle;
}
.fitches__img svg {
	height: 46px;
	width: 55px;
}

.fitches__img svg path {
	fill: #6d6d6d;
}

.fitches__img svg rect {
	fill: #6d6d6d;
}


.fitches__text {
  font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
 	padding-left: 5px;
 	display: inline-block;
 		 	vertical-align: middle;

}
.text_justify p  {
	  text-align: justify;
	   text-align-last: center;

}
.text p {
  font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.375;

}

.text_center p  {
	text-align: center;
}
.stats {}
.stats__items {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.stats__item {}
.stats__number {
  font-size: 95px;
  color: rgb(219, 141, 38);
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
}
.stats__text {
  font-size: 24px;
  color: rgb(79, 79, 78);
 font-weight: bold;
 text-align: center;
}

.aboutblock h1 {
	text-align: center;
	margin-bottom: 0;
  font-size: 36px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: center;
 

}
.aboutblock {
	padding: 30px 0 50px 0;
}
.aboutblock h2 {
	text-align: center;
	margin-top: 0;
  font-size: 24px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: center;
 
}

.text {
}


.newsblock  {
	background: #ededed;
	padding-bottom: 10px;
}

.newsblock h2 {

}
.newslist {}
.newslist__items {
	display: flex;
	justify-content: space-between;
	margin: 0 -30px;
}
.newslist__item {
	max-width: 405px;
	width: 33.33333%;
	padding: 0 30px;
}
.newsitem {
	margin-bottom: 30px;
}
.newsitem__date {
	margin-bottom: 10px;
  font-size: 14px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  

}
.newsitem__text a {
	font-size: 16px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: left;
 	margin-bottom: 10px;
 	font-weight: bold;
}
.newslist__link a {
  
}
.btn_border {
	background: none;
	border: 1px solid rgb(79, 79, 78);
	color: rgb(79, 79, 78);
  font-size: 16px;
  text-align: center;
 	padding: 9px 14px;
 	margin-bottom: 5px;
 	display: inline-block;
 	font-weight: normal;
}

.newslist__link {
	text-align: center;
}

h2.default {
	  font-size: 30px;
  color: rgb(79, 79, 78);
  line-height: 1.2;
  text-align: center;
  padding-bottom: 0;
  
}

h2.default:after {
	 display: none;
  
}

.footer__info {
  font-size: 13px;
  color: rgb(237, 237, 237);
  line-height: 1.2;
 	max-width: 290px;
}
.footer__info a {
	opacity: 0.65;
	 font-size: 13px;
  color: rgb(237, 237, 237);
  line-height: 1.2;
 
}

.footer__info a:hover {
	opacity: 1;
}

.footer__logo {
	margin-bottom: 30px;
}
.footer__logo a {
	opacity: 1;
}
.footer__copy {
	margin-bottom: 30px;
}

.footer__dev {
	margin-bottom: 10px;
}

.footer__policy {
	margin-bottom: 10px;
}

.footer__wrapper {
	background: #4f4f4e;
	padding: 40px 0 50px 0;
}

.footer__items{
	display: flex;
	justify-content: space-between;
	margin: 0 -40px;
}

.footer__item {
	padding: 0 40px;
}

.footermenu__list li a {
		opacity: 0.65;
	 font-size: 13px;
  color: rgb(237, 237, 237);
  line-height: 1.2;
}
.footermenu__list li a:hover {
		opacity: 1;

}

.footermenu__list ul {
	padding: 0;
	margin: 0;
}

.footermenu__list li {
	margin-bottom: 9px;
}

.footermenu__title {
  font-size: 15px;
  color: rgb(237, 237, 237);
  line-height: 1.2;
  font-weight: bold;
  padding-bottom: 3px;
  margin-bottom: 15px;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #db8d26;
}

.phone a {
  font-size: 18px;
  line-height: 1.2;
  text-align: right;
  opacity: 0.95;
  font-weight: bold;
}
.footer__tel {
	margin-bottom: 15px;
	text-align: right;
}

.footer__mail {
	margin-bottom: 15px;
	text-align: right;
}

.footer__address {
		margin-bottom: 15px;
		text-align: right;
}

.footer__info_right {
	width: 165px;
	text-align: right;
}

.footer__socials .socials a svg path {
	fill: #ededed;
}

.footer__socials a {
	opacity: 1;
}

.footermenu {
	width: 210px;
}

body.fixed {
    padding-top: 46px !important;
}
.header.fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    padding: 7px 0;
    z-index: 99;
    background: #fff;
        box-shadow: 0 12px 9px -10px rgb(49 52 68 / 10%);
}
.header.fixed .logo {
	width: 80px;
}

.header.fixed .headermain__item_title {
	display: none;
}

.header.fixed  .headermain__item_blago {
	display: none;
}
.header .searchbutton {
	display: none;
}
.header.fixed .searchbutton {
	display: block;
	cursor: pointer;
}

.searchbutton svg path {
	fill: #545453;
}

.header.fixed  .headermain__search {
	position: absolute;
	top: 48px;
	width: 100%;
	display: none;
	left: 0;
}

.header.fixed  .headermain {
	padding: 0;
}

.header.fixed  .searchbutton svg{
	  width: 15px;
  height: 15px;
}


.headermain__items {
	flex-wrap: wrap;
}

.mainmenu {
	width: 100%;
	margin-top: 21px;
}
.header.fixed .headermain__item_logo {
	order: 1;
}
.header.fixed .mainmenu {
	order: 2;
	width: initial;
}
.header.fixed .headermain__item.headermain__item_search {
	order: 3;
}

.header.fixed .headermain__item_contact {
	order: 4;
}


.header.fixed .headermain__item_cart {
	order: 5;
}

.header.fixed .headermain__cart {
	max-width: 49px;
}

.header.fixed .headermain__contact {
	max-width: 177px;
}
.header.fixed .mainmenu__items > ul {
	margin: 0 -20px;
}
.header.fixed .mainmenu__items > ul > li > a{
  font-size: 14px;
  color: rgb(79, 79, 78);
  text-transform: uppercase;
  line-height: 1.2;
  background-color: #fff;
  padding: 0 20px;
 	height: 100%;
}
.header.fixed * {
	transition: none !important;
}
.header.fixed li.parent.catalogmenu > a {
	padding-left: 30px;
    padding-right: 20px;
    background-image: url(/images/burder2.png);
    background-repeat: no-repeat;
    background-position: left 0 center;
}
.header.fixed .mainmenu__items > ul > li > a:hover {
	background-color: #fff;
}
.header.fixed .headermain__item.headermain__item_search {
	width: initial;
	max-width: initial;
}
.header.fixed .mainmenu {
	margin-top: 0;
}
.header.fixed .mainmenu__items > ul > li {
	height: 100%;
}
.header.fixed .mainmenu__items > ul {
	height: 100%;
}
.header.fixed .headercontact__visible {
	padding-top: 0;
	padding-bottom: 0;
}
.header.fixed .headermain__contact {
	height: initial;
}
.header.fixed .headercontact {
    top: -18px;
}

.header.fixed .submenu {
	top: 17px;
	box-shadow: 0 9px 11px -2px #777;
}

.header.fixed .headermain__cart svg {
	width: 32px;
}

.header.fixed .search input {
width: 100%;
    max-width: 100%;
}


@media (max-width: 1377px) {
	.headercontact__link a {
		font-size: 20px;
	}
	.logo {
    width: 150px;
	}
	.footer__item {
		padding: 0 10px;
	}
	.footer__items {
		margin: 0 -10px;
	}
	.footer__info {
	    font-size: 13px;
	    color: rgb(237, 237, 237);
	    line-height: 1.2;
	    min-width: 157px;
	}
	.footer__item {
		max-width: 20%;
	}
	.footermenu {
		width: initial;
	}
	.header.fixed .mainmenu__items > ul {
		margin: 0 -9px;
	}
	.header.fixed .mainmenu__items > ul > li > a{
	  font-size: 11px;
	  color: rgb(79, 79, 78);
	  text-transform: uppercase;
	  line-height: 1.2;
	  background-color: #fff;
	     padding: 0 9px;
	 	height: 100%;
	}
	.header.fixed li.parent.catalogmenu > a {

 	padding-left: 25px;
 	padding-right: 5px;
 }
 .header.fixed .headermain__item {
 	padding: 0 5px;
 }
 .header.fixed .headermain__items {
 	margin: 0 -5px;
 }
 .header.fixed .submenu > li > a {
 	font-size: 11px;
 }
 .submenu_level2 > li > a {
 	font-size: 11px;
 }
}

@media (max-width: 1023px) {
	.headermain__items {
		flex-wrap: wrap;
	}	
	.headermain__item_logo {
		order: 98;
	}
	.headermain__item_title {
		order: 99;
	}
	.mainmenu {
		display: none;
	}
	.fitches__items {
		flex-wrap: wrap;
	}
	.stats__items {
		flex-wrap: wrap;
	}
	.newslist__items {
		flex-wrap: wrap;
	}

	.newslist__item {
		width: 100%;
	}

	
	.footer__items {
		flex-wrap: wrap;
	}
	.footer__items {
	flex-wrap: wrap;
	}
	.footer__item {
		width: 100%;
		max-width: 100%;
	}
	.mainblock__title {
    font-size: 26px;
    color: rgb(79, 79, 78);
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 30px;
	}
	.mainblock__subtitle {
		font-size: 18px;
	}

	.mainblock {
	    padding: 40px 0;
	}
}